<h3 id="anc--embed-codepen">CodePen</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/codepen.twig' with {
        'pen': {
            'id': '001',
            'hash': 'ClnAe',
            'user': 'afkatja',
            'gdpr': {
                'barrier': {
                    'btn': 'show Pen'
                },
                'usr_link': {
                    'href': 'https://codepen.io/afkatja/pen/ClnAe',
                }
            }
        }
    } %}
</div>