<h3 id="anc--embed-500px">500px</h3>

<p>has no checkbox, only button</p>
<div class="embed">
    {% include namespace ~ 'component/embed/500px.twig' with {
        'img': {
            'id': '002',
            'src': 'https://500px.com/photo/55365754/oryx-namibia-by-chris-schmid',
            'gdpr': {
                'attr': {
                    'data-img': 'https://drscdn.500px.org/photo/55365754/m%3D900/v2?webp=true&sig=ec6988a576ea41a4f6dc1837337d965481a741ce07ffc4e91ed872c648987f7a',
                    'data-author': 'Oryx, Namibia von Chris Schmid auf 500px.com'
                },
                'usr_link': {
                    'href': 'https://500px.com/photo/55365754/oryx-namibia-by-chris-schmid',
                }
            }
        }
    } %}
</div>