<h3 id="anc--embed-gighy">Giphy</h3>

<p>has checkbox, label before checkbox, button</p>
<div class="embed">
    {% include namespace ~ 'component/embed/giphy.twig' with {
        'gif': {
            'id': '001',
            'src': '3o7bu8sRnYpTOG1p8k',
            'gdpr': {
                'barrier': {
                    'btn': 'show Giphy'
                },
                'usr_link': {
                    'href': 'https://giphy.com/gifs/pizza-loading-snacks-3o7bu8sRnYpTOG1p8k',
                }
            }
        }
    } %}
</div>