<h3 id="anc--embed-instagram">Instagram</h3>

<div class="embed">
    {% include namespace ~ 'component/embed/instagram.twig' with {
        'post': {
            'type': 'embed',
            'id': 'BjAMLxTlx_u',
            'gdpr': {
                'barrier': {
                    'btn': 'show Post'
                },
                'usr_link': {
                    'href': 'https://www.instagram.com/p/BjAMLxTlx_u/',
                }
            }
        }
    } %}
</div>