{% extends namespace ~ '_meta.twig' %}


{% block content_raw %}
    <main class="content--container">
        {% block content_main_inner %}
            <div class="content-inside">
                {{ content.getActiveArticle().getContent()|raw }}
            </div>
        {% endblock %}
    </main>
    <section class="content-end--container">
        {% block content_end_inner %}{% endblock %}
    </section>
{% endblock %}